.banner {
  background-size: cover;
  background-position: center;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.small-container h1 {
  color: white;
  font-weight: lighter;
}

.small-container p {
  color: white;
}
